@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Inter";
  box-sizing: border-box;
  width: 100%; }

.header {
  background-color: #f3ede1;
  height: 100vh;
  padding-inline: 4.3rem; }
  .header .navbar_elements {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem; }
    .header .navbar_elements .logo {
      font-size: 2rem;
      font-weight: 900; }
  .header .hero_section {
    display: flex;
    flex-wrap: wrap; }
    .header .hero_section .hero_image_container {
      width: 100%;
      margin: 0 auto; }
      .header .hero_section .hero_image_container .header_img {
        width: inherit; }
    .header .hero_section_info {
      margin-top: 13px; }
      .header .hero_section_info--header {
        font-size: 3.8rem;
        margin-bottom: 7px; }
      .header .hero_section_info--paragraph {
        font-size: 2rem;
        color: #4f4f4f; }
