@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Inter";
  box-sizing: border-box;
  width: 100%; }

.btn {
  width: 100%;
  padding: 2rem 2rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 5px;
  font-weight: 700; }

.header {
  background-color: #f3ede1;
  height: auto;
  padding-inline: 4.3rem; }
  .header .navbar_elements {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem; }
    .header .navbar_elements .logo {
      font-size: 2rem;
      font-weight: 900; }
  .header .hero_section {
    display: flex;
    flex-wrap: wrap; }
    .header .hero_section .hero_image_container {
      width: 100%;
      margin: 0 auto; }
      .header .hero_section .hero_image_container .header_img {
        width: inherit; }
    .header .hero_section_info {
      margin-top: 13px; }
      .header .hero_section_info--header {
        font-size: 3.8rem;
        margin-bottom: 10px; }
      .header .hero_section_info--paragraph {
        font-size: 1.8rem;
        color: #4f4f4f;
        margin-bottom: 10px; }
      .header .hero_section_info--btn {
        background-color: #4d13d1;
        color: white;
        margin-bottom: 10px; }
      .header .hero_section_info--link {
        text-align: center;
        display: block;
        width: 145px;
        margin: 0 auto;
        font-size: 1.93rem;
        color: #4d13d1;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid #4d13d1; }
