@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
$hero_background_color: rgb(243, 237, 225);
$main_color: rgb(77, 19, 209);
$text_color: rgb(79, 79, 79);
$titles_color: rgb(0, 0, 0);
$main_font: "Inter";
$padding-inline-full: 15rem;
$padding-inline-mobile: 4.3rem;
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
html {
  //this defines what 1rem is . bcs the default is 16px so 10/16*100 is 62.5%
  font-size: 62.5%;
}
body {
  font-family: $main_font;
  box-sizing: border-box;
  width: 100%;
}
.btn {
  padding: 2rem 2rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 5px;
  font-weight: 700;
}
.header {
  background-color: $hero_background_color;
  height: auto;
  padding-inline: $padding-inline-mobile;
  @media (min-width: 1000px) {
    padding-inline: $padding-inline-full;
    height: 100vh;
  }
  .navbar {
    &_elements {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;
      .logo {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }
  .hero_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row-reverse;
    }
    .hero_image_container {
      @media (min-width: 1000px) {
        width: 50%;
      }
      width: 100%;
      margin: 0 auto;
      .header_img {
        width: 100%;
      }
    }
    &_info {
      @media (min-width: 1000px) {
        width: 50%;
      }
      margin-top: 13px;
      &--header {
        font-size: 3.8rem;
        margin-bottom: 10px;
        @media (min-width: 970px) {
          font-size: 6.347rem;
        }
      }
      &--paragraph {
        font-size: 1.8rem;
        color: $text_color;
        margin-bottom: 10px;
      }
      .header_links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 1000px) {
          justify-content: center;
        }
        width: 100%;
      }
      &--btn {
        background-color: $main_color;
        color: white;
        margin-bottom: 10px;
        @media (max-width: 1000px) {
          width: 100%;
        }
        @media (min-width: 1000px) {
          margin-right: 3.8rem;
        }
      }
      &--link {
        text-align: center;
        font-size: 1.8rem;
        color: $main_color;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid $main_color;
      }
    }
  }
}
