@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$hero_background_color: rgb(245, 235, 218);
$main_color: rgb(77, 19, 209);
$text_color: rgb(79, 79, 79);
$titles_color: rgb(0, 0, 0);
$main_font: "Inter";
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  //this defines what 1rem is . bcs the default is 16px so 10/16*100 is 62.5%
  font-size: 62.5%;
}
body {
  font-family: $main_font;
  box-sizing: border-box;
  width: 100%;
}

.header {
  background-color: $hero_background_color;
  height: 100vh;
  padding-inline: 4.3rem;
  .navbar {
    &_elements {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;

      .logo {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }
  &_image_container {
    width: 100%;
    margin: 0 auto;
    .header_img {
      width: inherit;
    }
  }
}
