@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
$hero_background_color: rgb(243, 237, 225);
$main_color: rgb(77, 19, 209);
$text_color: rgb(79, 79, 79);
$titles_color: rgb(0, 0, 0);
$border_color: rgb(196, 191, 191);
$main_font: "Inter";
$padding-inline-full: 15rem;
$padding-inline-mobile: 4.3rem;
$MarginTop_betweenSections: 6.3rem;
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
input,
label {
  display: block;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
html {
  //this defines what 1rem is . bcs the default is 16px so 10/16*100 is 62.5%
  font-size: 62.5%;
}
body {
  font-family: $main_font;
  box-sizing: border-box;
  width: 100%;
}
li {
  list-style-type: none;
}
.btn {
  padding: 2rem 2.6rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 5px;
  font-weight: 700;
}
.header {
  background-color: $hero_background_color;
  height: auto;
  padding-inline: $padding-inline-mobile;
  padding-bottom: 40px;
  @media (min-width: 1000px) {
    padding-inline: $padding-inline-full;
    height: 100vh;
  }
  .navbar {
    @media (min-width: 700px) {
      display: none;
    }
    &_elements {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;
      .logo {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }
  .navbarDesktop {
    padding: 0px;
    @media (max-width: 700px) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    .logo {
      font-size: 3rem;
      font-weight: 900;
    }
    .navMenu {
      display: flex;
      &_element {
        &:not(:last-child) {
          margin-right: 28px;
        }

        font-size: 1.6rem;
      }
    }
    .navAuth {
      display: flex;
      align-items: center;
      .Auth_Elements {
        margin-inline: 18px;
        &-1 {
          border: none;
          font-size: 1.6rem;
          font-weight: 600;
          background-color: transparent;
        }
        &-2 {
          font-size: 1.6rem;
          border: none;
          font-weight: 600;
          background-color: $main_color;
          padding: 1.65rem 2.6rem;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }
  .hero_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row-reverse;
    }
    .hero_image_container {
      @media (min-width: 1000px) {
        width: 50%;
      }
      width: 100%;
      margin: 0 auto;
      .header_img {
        width: 100%;
      }
    }
    &_info {
      .reviews {
        display: flex;
        align-items: center;
        font-size: 1.48rem;
        margin-bottom: 10px;
        &--stars {
          margin-right: 10px;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
      @media (min-width: 1000px) {
        width: 50%;
      }
      margin-top: 13px;
      &--header {
        font-size: 3.8rem;
        margin-bottom: 10px;
        @media (min-width: 1200px) {
          font-size: 6.347rem;
        }
      }
      &--paragraph {
        font-size: 1.8rem;
        color: $text_color;
        margin-bottom: 10px;
      }
      .header_links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 1000px) {
          justify-content: center;
        }
        width: 100%;
      }
      &--btn {
        background-color: $main_color;
        color: white;
        margin-bottom: 10px;
        @media (max-width: 1000px) {
          width: 100%;
        }
        @media (min-width: 1000px) {
          margin-right: 3.8rem;
        }
      }
      &--link {
        text-align: center;
        font-size: 1.8rem;
        color: $main_color;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid $main_color;
        margin-bottom: 10px;
      }

      .header_smallelements {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        color: $text_color;
        &--1,
        &--2 {
          margin: 4px 9px 4px 0px;
          display: flex;
          align-items: center;
          img {
            margin-right: 4px;
            width: 20px;
          }
        }
      }
    }
  }
}

main {
  .sections {
    margin-top: $MarginTop_betweenSections;
    &:not(:nth-child(2)) {
      padding-inline: $padding-inline-mobile;
      @media (min-width: 1000px) {
        padding-inline: $padding-inline-full;
      }
    }
  }
  .section--1 {
    span {
      color: $main_color;
      display: block;
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-weight: 800;
    }
    h2 {
      font-size: 3.7rem;
      font-weight: 800;
      margin-bottom: 23px;
    }
    .elements {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media (min-width: 700px) {
        flex-wrap: nowrap;
      }
      .element {
        margin: 18px 10px 18px 0px;
        img {
          width: 4.3rem;
          display: block;
          margin-bottom: 10px;
        }
        span {
          display: block;
          font-size: 1.5rem;
          font-weight: 800;
          margin-bottom: 10px;
        }
        p {
          color: $text_color;
          font-size: 1.5rem;
        }
      }
    }
  }
  .section--2 {
    @media (min-width: 1000px) {
      margin-inline: $padding-inline-full;
    }
    @media (max-width: 700px) {
      padding-top: 4.2rem;
    }
    padding-inline: 3rem;
    margin-inline: $padding-inline-mobile;
    background-color: $main_color;
    border-radius: 10px;
    color: white;
    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media (min-width: 700px) {
        flex-wrap: nowrap;
      }
      img {
        width: 50%;
        margin: 0 auto;
        margin-top: 5rem;
        border-start-start-radius: 4px;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
      .info {
        @media (min-width: 700px) {
          margin: 2rem;
        }
        h2 {
          font-size: 3.7rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.5rem;
          font-weight: lighter;
          margin-bottom: 1rem;
        }
        .btn {
          color: $main_color;
          @media (max-width: 700px) {
            width: 100%;
          }
        }
      }
    }
  }
  .section--3 {
    display: flex;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
    span {
      display: block;
    }
    .story {
      border: 1px solid $border_color;
      padding: 2.4rem;
      border-radius: 7px;
      @media (max-width: 1000px) {
        &:not(:last-child) {
          margin-bottom: 3.7rem;
        }
      }
      @media (min-width: 1000px) {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      .user_info {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &--name {
          color: $main_color;
          font-size: 1.8rem;
          font-weight: 800;
        }
        &--revenue {
          font-size: 1.7rem;
        }
        img {
          width: 5rem;
          margin-right: 15px;
        }
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 20px;
        line-height: 2.3rem;
      }
      .btn {
        width: 100%;
        color: $main_color;
        background-color: transparent;
        border: 1px solid $border_color;
      }
    }
  }
}
.footer {
  margin-top: $MarginTop_betweenSections;
  background-color: $hero_background_color;
  .content {
    padding-top: 6.6rem;
    padding-bottom: 6.6rem;
    @media (min-width: 1000px) {
      padding-inline: $padding-inline-full;
    }
    padding-inline: $padding-inline-mobile;
    .elements {
      display: flex;
      @media (max-width: 900px) {
        flex-direction: column;
      }

      .element {
        @media (min-width: 1000px) {
          margin-right: 4rem;
          &:first-child {
            p {
              margin-bottom: 25.6px;
            }
            width: 40rem;
          }
        }
        @media (max-width: 900px) {
          &:not(:last-child) {
            margin-bottom: 2.9rem;
          }
        }
        li h4 {
          margin-bottom: 1.3rem;
          font-size: 1.9rem;
        }

        li:not(:first-child) {
          font-size: 1.7rem;
          color: $text_color;
          &:not(:last-child) {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}

//// page2

.Authbody {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/

  .authMain {
    padding-inline: $padding-inline-full;
    display: flex;
    @media (max-width: 1000px) {
      padding-inline: $padding-inline-mobile;
    }
    .form {
      padding-top: 7rem;
      padding-bottom: 7rem;
      margin-right: 5rem;
      .logo {
        font-size: 1.3rem;
        margin-bottom: 1.9rem;
        display: block;
        font-weight: 700;
      }
      h1 {
        font-size: 2.9rem;
        margin-bottom: 3.7rem;
      }
      label {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 8px;
      }
      input {
        border-radius: 5px;
        border: 1px solid rgb(223, 220, 220);
        margin-bottom: 1.8rem;
        padding: 10px;
        &:not(.checkinput) {
          width: 100%;
          height: 4rem;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: rgb(180, 179, 179);
        }
      }
      .terms {
        display: flex;
        align-items: center;
        margin-bottom: 1.8rem;

        span {
          line-height: 21px;
          font-size: 1.4rem;
          font-weight: 100;
          color: rgb(20, 20, 20);
          a {
            color: $main_color;
            font-weight: 800;
            text-decoration: underline;
          }
        }
        input {
          margin-right: 6px;
        }
      }
      .btn {
        background-color: $main_color;
        width: 100%;
        color: white;
        padding: 1.7rem 1.7rem;
        margin-bottom: 1.8rem;
      }
      .toSignIn {
        text-align: center;
        font-size: 1.3rem;
        a {
          color: $main_color;
        }
      }
    }

    .visuals {
      @media (max-width: 1000px) {
        display: none;
      }
      text-align: center;
      color: white;
      background-color: $main_color;

      &_content {
        width: 100%;
        height: 100%;
        padding: 5.2rem;
        margin: 0 auto;
        h2 {
          letter-spacing: 1px;
          font-size: 2.2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.1rem;
          width: 30rem;
          margin: 0 auto;
          line-height: 18px;
          font-weight: unset;
        }
        img {
          width: 34rem;
          margin: 0 auto;
          margin-bottom: 1.4rem;
          margin-top: 2.8rem;
        }
      }
    }
  }
}
